# values in {NAME} syntax are provided by python using .replace()
# 
[Unit]
Description=Viu Background Worker
After=network-online.target

[Service]
Type=simple
# Ensure you have the full path to your viu executable
# Use `which viu` to find it
ExecStart={EXECUTABLE} worker --log
Restart=always
RestartSec=30

[Install]
WantedBy=default.target
